body {
  background-image: url("../img/new.jpg");
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  background-size: auto;
}

.circle-with-text {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic; */
  font: italic bold 1.8em serif;
  background: white;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  margin: 20px auto;
  font-size: 25px;
  padding: 15px;
  display: flex;
  height: 180px;
  width: 180px;
  color: black;
  z-index: 2;
  position: relative;
}

#add {
  z-index: 1;
  position: relative;
  margin-top: -4em;
  border-radius: 3em;
  opacity: 0.8;
  margin: -55px auto;
}

#addTask {
  margin-top: 1em;
}

#todoListView {
  opacity: 0.8;
  border-radius: 1em;
  margin: -35px auto;
  /* margin: -40px; */
}

/* #searchTask {
    opacity: 0.8;
    text-align: center;
    margin:auto;
  } */

#search {
  z-index: 1;
  position: relative;
  margin-top: -4em;
  border-radius: 3em;
  opacity: 0.8;
  margin: -55px auto;
  display: none;
}

input[type="text"], input[type="date"] {
  border-radius: 1em;
}

#menu button {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* #menu button:hover{
    background-color: blanchedalmond;
  } */

/* #menu .btn:active{
    background-color: aqua;
  } */

.checked {
  text-decoration: line-through;
  background: red;
}